<h1>Add new ticket</h1>

<form (submit)="addTicket($event)">
  <select id="tracker" name="tracker">
    <option value="bug">Bug</option>
    <option value="feature">Feature</option>
    <option value="support">Support</option>
    <option value="admin">Admin</option>
  </select>
  <input type="text" placeholder="Subject" id="subject">
  <input type="text" placeholder="Description" id="description">
  <select id="status" name="status">
    <option value="new">New</option>
    <option value="assigned">Assigned</option>
    <option value="feedback">Feedback</option>
    <option value="resolved">Resolved</option>
    <option value="closed">Closed</option>
  </select>
  <select id="category" name="category">
    <option value="design">Design</option>
    <option value="development">Development</option>
    <option value="documentation">Documentation</option>
  </select>
  <select id="priority" name="priority">
    <option value="normal">Normal</option>
    <option value="major">Major</option>
    <option value="critical">Critical</option>
    <option value="bug">Bug</option>
    <option value="minor">Minor</option>
    <option value="lowest">Lowest</option>
  </select>
  <input type="text" placeholder="Assignee" id="assignee">
  <input type="text" placeholder="2020-05-05" id="startDate">
  <input type="text" placeholder="" id="dueDate">
  <input type="text" placeholder="0" id="estimatedTime">
  <input type="submit" value="Submit">
</form>

<a routerLink="/tickets">Tickets</a>
<a routerLink="/home">Home</a>
