<h2>My Tickets</h2>
<ul class="tickets">
  <li *ngFor="let ticket of tickets"
      [class.selected]="ticket === selectedTicket"
      (click)="onSelect(ticket)">
    <span class="badge">{{ticket.status}}</span> {{ticket.subject}}
  </li>
</ul>

<div *ngIf="selectedTicket">

  <h2>{{selectedTicket.subject | uppercase}} subject</h2>
  <div><span>status: </span>{{selectedTicket.status}}</div>
  <div>
    <label>Subject:
      <input [(ngModel)]="selectedTicket.subject" placeholder="status"/>
    </label>
    <label>Assignee:
      <input [(ngModel)]="selectedTicket.assignee" placeholder="assignee"/>
    </label>
    <label>Priority:
      <input [(ngModel)]="selectedTicket.priority" placeholder="priority"/>
    </label>
  </div>

  <div >


  </div>
  <button>Edit ticket</button>
  <button (click)="deleteTicket(selectedTicket)">Delete ticket</button>

</div>

<div>
  <a routerLink="/add-ticket">Add ticket</a>
  <a routerLink="/home">Home</a>
</div>



